<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kusashkotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KusashKotlin"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".feature.project.edit.src.ui.main.ProjectEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.slots.ProjectWorkerSlotListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.slots.SentRequestsWorkersSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.project.CurrentProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.slots.AppliedWorkerSLotsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.slots.EditWorkerSlotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.slots.WorkerSlotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.offers.ExecutorOffersListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.project.ProjectListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.project.ProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.project.EditProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.offers.ExecutorOfferEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.tests.MBTIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.tests.BelbinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.profile.EditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.profile.UserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.view.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>